* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: roboto;
    width: 100%;
    min-height: 100vh;
    background-color:#95a5a6;
  }

.container {
    margin: 0 auto;
    width: 50%;
    padding: 0.8rem;
}

.add{
    background-color: #9b59b6;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    padding: 0.8rem;
}

input {
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    outline: none;
}

button {
    color:black;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.tasks {
    display: flex;
    justify-content: center;
}

h1{
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.status {
    width:33.33%;
    height: 400px;
    text-align: center;
    padding: 1rem;
    overflow: auto;
}
.status:nth-child(1) {
    background-color:#ecf0f1 ;
    border-radius: 0 0 0 0.5rem;
}
.status:nth-child(2) {
    background-color:#f1c40f ;
}
.status:nth-child(3) {
    background-color:#2ecc71 ;
    border-radius: 0 0 0.5rem 0;
}